body {
		background: #89c0b6;
}

div {
		display: block;
}

@media (min-width: 768px)
.container {
		width: 750px;
}

div.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

}

div.row {
		margin-right: -15px;
		margin-left: -15px;
}

nav h2 {
		font-family: Monospace; 
		text-align: center;
		color: #105965;
}

nav, footer {
		margin-right: auto;
		margin-left: auto;
}


nav ul, footer ul {
		font-family: Monospace;
		padding: 0px;
		list-syle: none;
		font-weight: bold;
		text-align: center;
}

nav ul li, footer ul li {
		display: inline;
		margin-right: 20px;
		padding: 2px;
}


div#content {
		margin-right: auto;
		margin-left: auto;
		background: #b4d9cc;
}

div#textcontent {
		margin-right: auto;
		margin-left: auto;
		background: #e4f1e1;
		padding: 8px;
		width: 95%;
}	

div#textcontent ul {
		list-style: none;
		font-family: Monospace;
		font-size: 1em;
}

a {
		text-decoration: none;
		color: # 999;
}

a:hover {
		text-decoration: underline;
}

h1 {
		font-size: 2em;
		padding: 4px 0 8px 10px;
		font-family: Monospace;
}

p {
		text-align: justify;
		font-size: 1.2em;
		line-height: 1.3em;
		color: #333;
		font-family: Monospace;
		margin-top: 8px;
}

nav {
		width: 60%;
		position: center;
		padding: 4px;
}

footer {
		font-size: .8em;
		padding: 4px;
		width: 60%;
		position: center;
}

ul.posts {
		margin: 20px auto 40px;
		font-size: 1.5em;
		font-family: 'Helvetica','Ariel', 'Sans-Serif';
}

ul.posts li {
		list-style: none;
		font-size: .8em;
}



