<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id="content" class="col-md-6 col-md-offset-3">
					<nav>
						<h2>How to be wrong</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/cv">CV</a></li>
							<li><a href="/posts">Posts</a></li>
						</ul>
					</nav>
   					<div id="textcontent">

						{{ content }}
					</div>
					<footer>
						<ul>
							<li><a href="mailto:hsharvey@gmail.com">email</a></li>
							<li><a href="https://github.com/hayHarv">github</a></li>
						</ul>
						</footer>
				</div>
			</div>	
				</div>
	</body>
</html>
			

